
.cateringbutt {
  background: #ff0000;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  width: 400px;
  height:140px;
}


.cateringbutt:hover {
  background: #828282;
  text-decoration: none;
  color:white;
}

.cateringg a {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

.aboutt {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  margin: 0 8% 0 8%;
  text-align: left;
}

a {
  color: red;
}

a:active {
  color: red;
  font-weight: bold;
}

.menu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.menuu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.blackhead {
  font-family: 'Fjalla One', sans-serif;
  font-weight:bolder;
  font-size: 3em;
  color:black;
  margin-top: -3em;
}

.aboutimg {
  margin-top: -5em;
}

@media screen and (min-width: 992px) {


li {
  color: red;
}

.aboutt {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.3em;
}

.aboutimg {
  margin-top: -9em;
}

.menu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.menuu a {
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px black;
}

.hookah a {
  color: red;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}


.cateringbutt {
  background: #ff0000;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1em;
  text-decoration: none;
  width: 250px;
  height:60px;
}


.cateringbutt:hover {
  background: #828282;
  text-decoration: none;
  color:white;
}

.cateringg a {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

a:active {
  color: red;
  font-weight: bold;
}


}
